
@font-face {
    font-family: 'NotoSansSemiCondensed';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedBlack';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedBlackItalic';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedBlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedBold';
    src: url('/assassets/fonts/SansSemiCond/NotoSans-SemiCondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedBoldItalic';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedExtraBold';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedExtraBoldItalic';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedExtraLight';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedExtraLightItalic';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedItalic';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedLight';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedLightItalic';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedMedium';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedMediumItalic';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedSemiBold';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedSemiBoldItalic';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedSemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedThin';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedThinItalic';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* The following rules are deprecated. */

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedBlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assassets/fonts/SansSemiCond/NotoSans-SemiCondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedSemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/SansSemiCond/NotoSans-SemiCondensedThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
