
@font-face {
    font-family: 'NotoSansSemiCondensed';
    src: url('./NotoSans-SemiCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedBlack';
    src: url('./NotoSans-SemiCondensedBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedBlackItalic';
    src: url('./NotoSans-SemiCondensedBlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedBold';
    src: url('./NotoSans-SemiCondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedBoldItalic';
    src: url('./NotoSans-SemiCondensedBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedExtraBold';
    src: url('./NotoSans-SemiCondensedExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedExtraBoldItalic';
    src: url('./NotoSans-SemiCondensedExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedExtraLight';
    src: url('./NotoSans-SemiCondensedExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedExtraLightItalic';
    src: url('./NotoSans-SemiCondensedExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedItalic';
    src: url('./NotoSans-SemiCondensedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedLight';
    src: url('./NotoSans-SemiCondensedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedLightItalic';
    src: url('./NotoSans-SemiCondensedLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedMedium';
    src: url('./NotoSans-SemiCondensedMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedMediumItalic';
    src: url('./NotoSans-SemiCondensedMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedSemiBold';
    src: url('./NotoSans-SemiCondensedSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedSemiBoldItalic';
    src: url('./NotoSans-SemiCondensedSemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NotoSansSemiCondensedThin';
    src: url('./NotoSans-SemiCondensedThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansSemiCondensedThinItalic';
    src: url('./NotoSans-SemiCondensedThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* The following rules are deprecated. */

@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedBlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedExtraBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedExtraLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedSemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiCondensedThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
